<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HowHot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <HowHot.Properties.Settings>
            <setting name="OwmApiKey" serializeAs="String">
                <value>09f0011992e43cb67101d3d5a62ff152</value>
            </setting>
            <setting name="SingleCityId" serializeAs="String">
                <value>6241325</value>
            </setting>
            <setting name="MultiCityIds" serializeAs="String">
                <value>6241325,2180320,2192362</value>
            </setting>
        </HowHot.Properties.Settings>
    </applicationSettings>
</configuration>